* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
}

#sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border: 3px solid black;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    width: 500px;
    height: 640px;
    padding: 20px 20px;
}

#sign-up .sign-up__heading h1 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    color: white;
    padding: 8px 0;
}

#sign-up .sign-up__description {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    width: 100%;
    height: 90px;
    padding: 12px 4px;
    display: flex;
    justify-content: space-between;
}

.input-icon {
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
}

.input-icon:hover {
    cursor: pointer;
}

.input-information {
    border: none;
    height: 46px;
    width: 390px;
    padding: 2px 4px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    font-size: 20px;
}

.input-information::placeholder {
    color: white;
    font-size: 20px;
}

.age-and-gender {
    width: 100%;
    height: 8   0px;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.age-and-gender .gender-input label {
    font-size: 20px;
    color: white;
}

.age-and-gender .gender-input label:hover {
    cursor: pointer;
}

.age-and-gender .gender-input input {
    font-size: 16px;
    margin: 0 10px;
}

.age-and-gender .age-input {
    height: 50;
}

.age-and-gender .age-input label {
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.age-and-gender .age-input label:hover{
    cursor: pointer;
}

.age-and-gender .age-input input {
    font-size: 20px;    
    height: 40px;
    width: 62px;
    background-color: transparent;
    border: 1px solid white; 
    color: white;
    text-align: center;
}

.submit-information input {
    margin-top: 24px;
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 4px 16px;
    background-color: transparent;
    border: 1px solid #03e9f4;
    color: #03e9f4; 
}

.submit-information input:hover {
    color: white;
    background-color: #03e9f4;
    cursor: pointer;
}

.login-now {
    margin-top: 28px;
    padding: 0px 12px;
    text-align: center;
}

.login-now a {
    font-size: 18px;
    color: #03e9f4;
}

.sign-up-error {
    font-size: 18px;
    color: #d61e1e;
    padding-left: 60px;
}